audioread==2.1.9
av==12.0.0
boto3==1.34.82
caffe2==0.8.1
dac==0.4.2
descript_audio_codec==1.0.0
descript_audiotools==0.7.2
docutils==0.21.1
einops==0.7.0
fire==0.5.0
h5py==3.6.0
hydra-core==1.3.2
layers==0.1.5
librosa==0.9.1
matplotlib==3.8.0
moto==5.0.5
moviepy==1.0.3
mpi4py==3.0.3
numpy==1.22.4
omegaconf==2.3.0
onnx==1.12.0
pandas==1.5.3
pathlib2==2.3.7.post1
Pillow==10.3.0
protobuf==5.26.1
pytest==8.0.0
pytorch_lightning==1.6.1
requests==2.31.0
scikit_learn==1.4.2
scipy==1.10.1
seaborn==0.13.2
setuptools==68.2.2
six==1.16.0
SoundFile==0.10.3.post1
Sphinx==7.2.6
sphinx_rtd_theme==2.0.0
submitit==1.5.1
tensorboard==2.8.0
theano==1.0.5
timm==0.9.12
torch==2.2.1
torch==1.4.0
torchaudio==2.2.1
torchmetrics==1.3.2
torchvision==0.17.1
tqdm==4.65.0
transformers==4.36.2
Unidecode==1.1.1
visdom==0.2.4
youtube_search==2.1.2
